name : static-website-pipeline
on:
  push:
    branches:
      - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
         - name: Checkout source code
           uses: actions/checkout@v4
        
         - name: Login to Docker Hub
           uses: docker/login-action@v3
           with:
             username: ${{ secrets.DOCKER_USERNAME }}
             password: ${{ secrets.DOCKER_PASSWORD }}
         - name: Build and Push Docker Image
           uses: docker/build-push-action@v5
           with:
             context: .
             push: true
             tags: ${{ secrets.DOCKER_USERNAME }}/static-website:latest

         - name: Deploy on EC2
           uses: appleboy/ssh-action@v1.0.3
           with:
             host: ${{secrets.EC2_HOST }}
             username: ${{ secrets.EC2_USER }}
             key: ${{ secrets.EC2_KEY }}
             script: |
                docker pull ${{ secrets.DOCKER_USERNAME }}/static-website:latest
                docker stop static-website || true
                docker rm static-website || true
                docker run -d -p 9090:80 --name static-website ${{ secrets.DOCKER_USERNAME }}/static-website:latest
